<template lang="pug">
  .page__container
    .flex
      h1 Roulette
      div
        h2.m0(v-if="data.TimeLeft> 0") До начала игры
        h2.m0(v-else) До новой игры
        h1.m0.countdown(v-html="countdown")
    roulette(
      :data="data"
      :winNum="winNum"
      ref="roulette"
    )
</template>

<script>
import axios from 'axios';
import roulette from '@/components/Roulette.vue';
import { mapState } from 'vuex';

export default {
  name: 'home',

  data() {
    return {
      countdown: '',
      timer: '',
    };
  },

  watch: {
    async event(newVal) {
      await this.fetchGameData();
      if (newVal === 'winNumber') {
        this.rotateRoulette();
      }
    },
  },

  components: {
    roulette,
  },

  methods: {
    /**
     * Fetch roulette data
     */
    async fetchGameData() {
      const { data } = await axios.get('http://rocket.pelidev.com/api/game/current');
      this.$store.dispatch('setGame', data);
      this.countdown = data.TimeLeft || data.TimeLeftNext;
      this.startCountdown();
    },

    /**
     * Call child method for rotating roulette
     * @return {Function}
     */
    rotateRoulette() {
      this.$refs.roulette.rotate();
    },

    /**
     * Start countdown for current game and next
     */
    startCountdown() {
      clearTimeout(this.timer);
      if (this.countdown > 0) {
        this.timer = setTimeout(() => {
          this.countdown -= 1;
          this.startCountdown();
        }, 1000);
      }
    },

  },

  computed: {
    ...mapState({
      isConnected: state => state.game.isConnected,
      event: state => state.game.event,
      data: state => state.game.data,
      winNum: state => Math.floor(state.game.data.WinNum),
    }),
  },

  mounted() {
    this.fetchGameData();
  },

};
</script>

<style lang="stylus">
  .flex
    display flex
    justify-content space-around
    align-items center

  .m0
    margin 0
</style>
