<template lang="pug">
  div
    svg#roulette__container
</template>

<script>

import SVG from 'svg.js';

export default {
  name: 'Roulette',

  data() {
    return {
      width: 500,
      height: 500,
      sectorWidth: 18,
      sectorHeight: 10,
      radius: 200,
      angle: 360 / 54,
      group: '',
      roulette: '',
    };
  },

  watch: {
    colors(newVal, old) {
      if (newVal.length && newVal !== old) {
        this.drawRoulette();
      }
    },
  },

  props: {
    data: {
      type: Object,
      required: true,
    },
    winNum: {
      required: true,
    },
  },

  methods: {
    /**
     * Draw rulette arrow
     */
    drawArrow() {
      const hHalf = (this.height / 2);
      const wHalf = (this.width / 2) + this.radius + 20;

      this.roulette
        .line(wHalf, hHalf, wHalf + 70, hHalf)
        .stroke({ width: 2 });
      this.roulette
        .path(`M${wHalf + 5} ${hHalf - 3} L${wHalf - 2} ${hHalf} L${wHalf + 5} ${hHalf + 3} Z`)
        .stroke({ width: 2 });
    },

    /**
     * Draw roulette sectors
     */
    drawSectors(colors) {
      this.group = this.roulette.group();

      colors.forEach((color, i) => {
        const move = this.polarToCartesian((this.angle * i));

        const rect = this.roulette
          .rect(this.sectorWidth, this.sectorHeight)
          .move(move.x, move.y)
          .rotate(this.angle * i)
          .addClass(`color${color}`);

        // ids of each section
        // const text = this.roulette
        //   .plain(i + 1)
        //   .move(move.x, move.y)
        //   .font({
        //     size: 2,
        //   });
        // this.group.add(text);

        this.group.add(rect);
      });
    },

    drawWinNum() {
      this.roulette
        .plain(this.winNum)
        .move(this.width / 2, this.height / 2)
        .font({
          anchor: 'middle',
          size: 30,
          family: 'Helvetica',
        });
    },

    /**
     * Draw routelle
     * @return {Svg}
     */
    drawRoulette() {
      // init canvas
      this.roulette = SVG('roulette__container').size(this.width, this.height);
      // clear canvas
      this.roulette.clear();

      const { colors } = this;

      if (colors.length) {
        // arrow
        this.drawArrow();
        // group for rotating
        this.drawSectors(colors);
      }
    },
    /**
     * Rotate roulette
     * @return {Function}
     */
    rotate() {
      const sectorAngle = (this.winNum * this.angle);
      const angle = sectorAngle > 270 ? 815 - sectorAngle : 455 - sectorAngle;

      this.group.animate(6000, '>').rotate(angle);

      setTimeout(() => {
        this.drawWinNum();
      }, 6000);
    },

    /**
     * Convert polar to cartesian
     * @param  {Number} angleInDegrees
     * @return {Object} x and y position
     */
    polarToCartesian(angleInDegrees) {
      const angleInRadians = (angleInDegrees - 90) * (Math.PI / 180.0);
      const x = (this.width / 2) + (this.radius * Math.cos(angleInRadians));
      const y = (this.height / 2) + (this.radius * Math.sin(angleInRadians));
      return { x, y };
    },
  },

  mounted() {
    this.drawRoulette();
    setTimeout(() => {
      if (this.winNum) {
        this.drawWinNum();
      }
    }, 100);
  },

  computed: {
    colors() {
      const { Colors } = this.data;
      if (Colors) {
        return Colors.split('').reverse();
      }
      return '';
    },
  },

};
</script>

<style lang="stylus">
  .color1
    fill: green

  .color2
    fill: red

  .color3
    fill: black

  .color4
    fill: yellow

</style>
